/*css goes hear*/

html,body{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: 999999;
    background-image: url(../images/background.png);
}
/*to reach out of a folder <..>*/
#main-container{
    width: 980px;
    padding: 10px;
    border: 1px solid black;
    background-color: cadetblue;
}
#hearder{
    width: 960px;
    height: 100px;
    padding: 10px;
    background-color: #333;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 100px;
    margin: 0;
}
#nav{
    display: flex;
    justify-content: center;
    background-color: black;
    border: white 1px solid;
}
.btn{
    width: 100px;
    height: 50px;
    color: white;
    background-color: red;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;

}
.btn:hover{
    background-color: orange;
}
.section{
    width: 960px;
    padding: 10px;
    background-color: #ccc;
    margin-top: 10px;
    border-bottom: 3px soild black;

}
.title{
    width: 960px;
    padding: 5px;
    padding-bottom: 5px;
    background-color: #555;
    text-align: center;
    color: white;
}
.txt{
    width: 960px;
    text-align: justify;
    font-size: 18px;

}
#footer{
    width: 960px;
    height: 40px;
    text-align: center;
    font-size: 12px;
}