
html,body{
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;

}
body{
    font-family: 'Grandstander', cursive;
}
#container{
    width: 1000px;
    padding: 10px;
    background-color: blanchedalmond;
          display: flex;
    flex-direction: column;  
}
header{
    background-color: gray;
    margin-bottom: 10px;
    text-align: center;
}
nav{
    background-color: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.bnt{
    width: 100px;
    height: 50px;
    color: white;
    background-color: red;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;

}
.bnt:hover{
    background-color: orange;
}

.bnt:visited{
    background-color: red;
}

.bnt:active{
    background-color: red;
}.main-cont{
    display: flex;
    flex-direction: row;
}
#content{
    height: 340px;
    width: 1000px;
    background-color: honeydew;
}
#content-right{
    height: 300px;
    width: 250px;
    background-color: honeydew;
    text-align: left;
    border: black solid 20px;
}
.images{
    width: 650px;
    height: 300px;
    padding-left: 30px;
}

#content-edu{
    height: 300px;
    width: 290px;
    background-color: honeydew;
    text-align: left;
    border: black solid 20px;
    display: flex;
    flex-direction: row;
}
#riddle{
    background-color: honeydew;
    margin-top: 15px;
}
